{
    "presets": [
      ["babel-preset-env", {
        "targets": {
          "node": "11.6.0"
        }
      }]
    ],
    "plugins": [
      "syntax-async-functions",
      "transform-regenerator"
  ]
  }